<header>
<% if current_user.id == @user.id %>
  <h1> WELCOME <%= @user.username %>! WOO!</h1>
<% else %>
  <h1>You are viewing <%= @user.username %>'s profile</h1>
<% end %>
</header>

<section>
  <h2>Your Statistics</h2>
  <ul style ="list-style-type:none">
    <li>Points: <%= @user.rounds.first.calc_points %></li>
    <li>Belts Held:</li>
  </ul>
</section>
<% if current_user.id == @user.id %>
<section>
  <form method="get" action='/rounds/new'>
    <select name="deck_id">
      <% @list_of_decks.each do |deck| %>
        <option value="<%= deck.id %>"><%= deck.name %></option>
      <% end %>
    </select>

    <input type="hidden" name="user_id" value="<%= current_user.id  %>">
    <input type="submit" value="LET'S GET READY TO RUMBLE">
  </form>
</section>
<% end %>

<p><a href='/'>Home Page</a></p>
