<header>
<% if current_user.id == @user.id %>
  <h1> FINALLY, <%= @user.username.upcase %> HAS COME BACK TO...</h1>
<% else %>
  <h1>YOU ARE VIEWING <%= @user.username.upcase %>'S PROFILE</h1>
<% end %>
</header>

<sidebar id="left-sidebar">
  <% if current_user.id == @user.id %>
  <section class="login">
    <h2>Play a New Round</h2>
    <form method="get" action='/rounds/new'>
      <ul>
        <li><label for="deck">Select Your Deck:</label></li>
        <li><select id="deck" name="deck_id">
        <% @list_of_decks.each do |deck| %>
          <option value="<%= deck.id %>"><%= deck.name %></option>
        <% end %>
      </select></li>

        <input type="hidden" name="user_id" value="<%= current_user.id  %>">
        <li><input type="submit" value="LET'S GET READY TO RUMBLE"></li>
      </ul>
    </form>
  </section>

  <% else %>

  <section class="display">
    <p><a href="/users/<%= current_user.id %>">Return</a> to your profile.<p>
  </section>

  <% end %>

  <section class="display">
    <p><a href='/'>Go Back</a> to the Home Page</p>
  </section>
</sidebar>

<sidebar id="right-sidebar">
  <section class="login">
    <h2><%= @user.username.titleize %>'s Statistics</h2>
    <form method="get" action="/users/<%= @user.id %>">
      <ul>
        <li><label for="deck_stats">Select Deck:</label></li>
        <li><select id="deck_stats" name="deck_stats">
        <% @list_of_decks.each do |deck| %>
          <option value="<%= deck.id %>"><%= deck.name %></option>
        <% end %>
        </select></li>

        <input type="hidden" name="user_id" value="<%= current_user.id  %>">
        <li><input type="submit" value="View Stats"></li>
      </ul>
    </form>
  </section>

  <% if @stats %>
  <section class="display">
      <% @user.rounds.where(deck_id: @stats).each do |round| %>
      <ul>
        <li>Deck Name: <%= round.deck.name %></li>
        <li>Date of Completion: <%= round.created_at %></li>
        <li>Correct on First Try: <%= round.correct_on_first %></li>
        <li>Cards in Deck: <%= round.cards.count %></li>
        <li>Total Guesses: <%= round.guesses.count %></li>
      </ul><br>
      <% end %>
  </section>
  <% end %>
  <section class="login">
    <form method="get" action="/users">
      <ul>
        <li><label for="deck">Check Out the Competition</label></li>
        <li><select id="user" name="id">
        <% @list_of_users.each do |user| %>
          <option value="<%= user.id %>"><%= user.username %></option>
        <% end %>
      </select></li>
      <li><input type="submit" value="DO THEY HAVE WHAT IT TAKES?"></li>
    </form>
  </section>

</sidebar>
