<header>
<% if current_user.id == @user.id %>
  <h1> FINALLY, <%= @user.username.titleize %> HAS COME BACK TO...</h1>
<% else %>
  <h1>YOU ARE VIEWING <%= @user.username.titleize %>'S PROFILE</h1>
<% end %>
</header>

<section class="display">
  <h2><%= @user.username.titleize %>'s Statistics</h2>
  <ul>
    <li>Wins:</li>
    <li>Losses:</li>
    <li>Belts Held:</li>
  </ul>
</section>

<% if current_user.id == @user.id %>
<section class="login">
  <form method="get" action='/rounds/new'>
    <ul>
      <li><label for="deck">Select Your Deck:</label></li>
      <li><select id="deck" name="deck_id">
      <% @list_of_decks.each do |deck| %>
        <option value="<%= deck.id %>"><%= deck.name %></option>
      <% end %>
    </select></li>

    <input type="hidden" name="user_id" value="<%= current_user.id  %>">
    <li><input type="submit" value="LET'S GET READY TO RUMBLE"></li>
  </form>
</section>

<% else %>

<section class="display">
  <p><a href="/users/<%= current_user.id %>">Return</a> to your profile.<p>
</section>

<% end %>
<section class="display">
  <p><a href='/'>Go Back</a> to the Home Page</p>
</section>
